<!-- Navigation -->
<nav x-data="{ open: false }" class="fixed w-full z-50 bg-black bg-opacity-70 backdrop-blur-md py-4 border-b border-gold-900">
    <div class="container mx-auto px-6">
        <div class="flex justify-between items-center">
            <!-- Logo -->
            <div class="flex-col items-center">
                <a href="/">
                    <img src="/assets/images/logo-white.png" alt="">
                </a>
            </div>
            
            <!-- Desktop Menu -->
            <div class="hidden md:flex space-x-8">

                <a href="/" class="nav-link">Главная</a>

                <!-- Услуги -->
                <div class="relative group">
                    <a href="/services/" class="nav-link">Услуги</a>

                    <div class="hidden absolute left-0 group-hover:block bg-black p-4 whitespace-nowrap">
                        <div class="flex flex-col gap-4">
                            <a href="/services/extra/" class="nav-sublink">Дополнительные услуги</a>
                            <a href="/services/editing/" class="nav-sublink">Монтаж видео</a>
                        </div>
                    </div>
                </div>

                <a href="/portfolio/" class="nav-link">Портфолио</a>

                <!-- Команда -->
                <div class="relative group">
                    <a href="/team/" class="nav-link">Команда</a>

                    <div class="hidden absolute left-0 group-hover:block bg-black p-4 whitespace-nowrap">
                        <div class="flex flex-col">
                            <a href="/team/schedule/" class="nav-sublink">График работы команды</a>
                        </div>
                    </div>
                </div>

                <!-- Пакеты -->
                <div class="relative group">
                    <a href="/packages/" class="nav-link">Пакеты</a>

                    <div class="hidden absolute left-0 group-hover:block bg-black p-4 whitespace-nowrap">
                        <div class="flex flex-col">
                            <a href="/packages/constructor/" class="nav-sublink">Конструктор тарифа</a>
                        </div>
                    </div>
                </div>

                <a href="/delivery/" class="nav-link">Передача</a>
                <a href="/blog/" class="nav-link">Блог</a>
                <a href="/about/" class="nav-link">О Студии</a>
                <a href="/contact/" class="nav-link">Связаться</a>

            </div>

            <!-- CTA Buttons -->
            <div class="hidden md:flex space-x-4">

                <a href="tel:+79288893557" class="btn-outline-gold px-4 py-2 rounded-full pulse-gold">+7 (928) 889-35-57</a>
                <!-- <a href="#contact" class="btn-gold px-6 py-2 rounded-full">Заказать съемку</a> -->
                
                <a id="anketa-btn" href="https://docs.google.com/forms/d/e/1FAIpQLSfEeOGEFch97h7UX0WkN82CoTQvvri0dCehXS7Syqy6l4vsaQ/viewform?usp=header" target="_blank"
                class="hidden md:flex items-center justify-center w-26 h-12 text-yellow-500 hover:transform hover:scale-110 transition-all duration-300 shadow-lg"
                title="Заполнить анкету">Анкета
                </a>
            </div>
            
            <!-- Mobile Menu Button -->
            <div class="md:hidden">
                <button @click="open = !open" class="text-gold-300 focus:outline-none">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </div>
        
        <!-- Mobile Menu -->
        <div x-show="open"
            x-transition
            class="md:hidden pb-4 p-4
                    bg-white/10 backdrop-blur-xl
                    shadow-2xl shadow-black/30
                    ring-1 ring-white/10
                    rounded-2xl">

            <div class="flex flex-col space-y-3">

                <a href="/" class="text-white font-medium py-3 m-0
                                    transition-all duration-200
                                    hover:translate-x-1 hover:opacity-100 opacity-90">
                    Главная
                </a>

                <!-- Услуги -->
                <div>
                    <a href="/services/" class="text-white font-medium py-3 m-0
                                                transition-all duration-200
                                                hover:translate-x-1 hover:opacity-100 opacity-90">
                        Услуги
                    </a>

                    <div class="flex flex-col ml-4 space-y-2 mt-1">
                        <a href="/services/extra/" class="text-white text-sm opacity-80
                                                        transition-all duration-200 hover:translate-x-1 hover:opacity-100">
                            • Дополнительные услуги
                        </a>
                        <a href="/services/editing/" class="text-white text-sm opacity-80
                                                        transition-all duration-200 hover:translate-x-1 hover:opacity-100">
                            • Монтаж видео
                        </a>
                    </div>
                </div>

                <a href="/portfolio/" class="text-white font-medium py-3 m-0
                                            transition-all duration-200
                                            hover:translate-x-1 hover:opacity-100 opacity-90">
                    Портфолио
                </a>

                <!-- Команда -->
                <div>
                    <a href="/team/" class="text-white font-medium py-3 m-0
                                            transition-all duration-200
                                            hover:translate-x-1 hover:opacity-100 opacity-90">
                        Команда
                    </a>

                    <div class="flex flex-col ml-4 space-y-2 mt-1">
                        <a href="/team/schedule/" class="text-white text-sm opacity-80
                                                        transition-all duration-200 hover:translate-x-1 hover:opacity-100">
                            • График работы команды
                        </a>
                    </div>
                </div>

                <!-- Пакеты -->
                <div>
                    <a href="/packages/" class="text-white font-medium py-3 m-0
                                                transition-all duration-200
                                                hover:translate-x-1 hover:opacity-100 opacity-90">
                        Пакеты
                    </a>

                    <div class="flex flex-col ml-4 space-y-2 mt-1">
                        <a href="/packages/constructor/" class="text-white text-sm opacity-80
                                                            transition-all duration-200 hover:translate-x-1 hover:opacity-100">
                            • Конструктор тарифа
                        </a>
                    </div>
                </div>

                <a href="/delivery/" class="text-white font-medium py-3 m-0
                                            transition-all duration-200
                                            hover:translate-x-1 hover:opacity-100 opacity-90">
                    Передача
                </a>

                <a href="/blog/" class="text-white font-medium py-3 m-0
                                            transition-all duration-200
                                            hover:translate-x-1 hover:opacity-100 opacity-90">
                    Блог
                </a>

                <a href="/about/" class="text-white font-medium py-3 m-0
                                            transition-all duration-200
                                            hover:translate-x-1 hover:opacity-100 opacity-90">
                    О Студии
                </a>

                <a href="/contact/" class="text-white font-medium py-3 m-0
                                            transition-all duration-200
                                            hover:translate-x-1 hover:opacity-100 opacity-90">
                    Связаться
                </a>

                <!-- Buttons block -->
                <div class="pt-4 flex flex-col space-y-3">
                    <a href="tel:+79288893557"
                        class="text-white text-center py-3 rounded-full
                                ring-1 ring-white/20
                                hover:ring-white/40 transition-all duration-200">
                        +7 (928) 889-35-57
                    </a>

                    <a href="/contact/"
                        class="text-black text-center py-3 rounded-full
                                bg-white/90
                                hover:bg-white transition-all duration-200">
                        Заказать съемку
                    </a>

                    <a id="anketa-btn"
                        href="https://docs.google.com/forms/d/e/1FAIpQLSfEeOGEFch97h7UX0WkN82CoTQvvri0dCehXS7Syqy6l4vsaQ/viewform?usp=header"
                        target="_blank"
                        class="w-full flex items-center justify-center py-3 rounded-full
                                text-yellow-500
                                ring-1 ring-yellow-500/30
                                hover:scale-105
                                transition-all duration-200">
                        Анкета
                    </a>
                </div>
            </div>

        </div>

    </div>
</nav>